body
{
    background-color:black;
}


#divmain
{
   background-image:url(../pictures/bgimage_main.jpg);
   margin-top:160px;
   margin-left:20%;
   text-align:center;
   width:60%;
   height:600px;
}

#aboutus:hover
{
   color:red;
}

.english_charactor
{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:20px;
    font-weight:900;
    /*color:red;*/
    
}

.Chinese_Charactor
{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-weight:900;
}

.icon_image
{
    
}

.icon_image:hover
{
    /*position:relative;*/
    border:none;z-index:1000;
}

.icon_image:hover #aboutus_img
{
   /*position:absolute;*/
   left:-5px;top:-5px;width:70px;height:70px;padding:5px;border:0px solid #000;z-index:1000;
}



#aboutus_img
{
   width:64px;height:64px;border:none;  
}


