body
{
    background-color:black;
    height:500px;
}


#divmain
{
   background-image:url(../pictures/bgimage_main.jpg);
   margin-top:2%;
   margin-left:10%;
   text-align:center;
   width:80%;
   height:80%;
   position:fixed;
}

#aboutus
{
   width:100px;
   height:100px;
   left:20%;
   top:62%;
   position:fixed;
   text-align:center;
}

#aboutus:hover
{
   color:red;
}

.english_charactor
{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:20px;
    font-weight:900;
    text-align:center;
    /*color:red;*/
    
}

.Chinese_Charactor
{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:5px;
    font-weight:900;
    text-align:center;
}

.icon_image
{
   text-align:center; 
   border:1px;
   
}

.icon_image:hover
{
    /*position:relative;*/
	
    //border:none;
    z-index:1000;
}

.icon_image:hover .actual_img
{
   /*position:absolute;*/
   left:-10px;top:-10px;width:70px;height:70px;
   /*padding:5px;border:0px;*/ 
   solid #000;z-index:1000;
}



.actual_img
{
   width:64px;height:64px;
   border-radius:30px;
   border-color:0x00;  
}


#caseshow
{
   width:100px;
   height:100px;
   left:35%;
   top:12%;
   position:fixed;
   text-align:center;
}

#caseshow:hover
{
   color:red;
}

#designer
{
   width:100px;
   height:100px;
   left:60%;
   top:22%;
   position:fixed;
   text-align:center;
}

#designer:hover
{
   color:red;
}

#service
{
   width:100px;
   height:100px;
   left:50%;
   top:62%;
   position:fixed;
   text-align:center;
}

#service:hover
{
   color:red;
}

#hr
{
   width:100px;
   height:100px;
   left:75%;
   top:42%;
   position:fixed;
   text-align:center;
}

#hr:hover
{
   color:red;
}
#line1
{
    width:278px;
    height:0px;
    top:45%;
    left:19%;
    position:fixed;
    transform: rotate(-48deg);
    
}

#line2
{
    width:250px;
    height:0px;
    top:30%;
    left:42%;
    position:fixed;
    transform: rotate(15deg);
    
}

hr
{
	border:1px dashed;
}





