body
{
    background-color:black;
    height:auto;
    width:auto;
    vertical-align:middle;

}


#divmain
{
   background-image:url(../pictures/bgimage_main.jpg);
   margin-top:8%;
   margin-bottom:auto;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
   vertical-align:middle;
   width:900px;
   height:600px;
   position:relative;
}

#aboutus
{
   width:100px;
   height:100px;
   left:0px;
   top:420px;
   position:relative;
   //text-align:center;
   
}

#aboutus:hover
{
   color:red;
}

.english_charactor
{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:20px;
    font-weight:900;
    /*color:red;*/
    
}

.Chinese_Charactor
{
    margin-top:0px;
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    font-weight:900;
}

.icon_image
{
   text-align:center; 
   border:1px;
   
}

.icon_image:hover
{
    /*position:relative;*/
	
    //border:none;
    z-index:1000;
}

.icon_image:hover .actual_img
{
   /*position:absolute;*/
   left:-10px;top:-10px;width:70px;height:70px;
   /*padding:5px;border:0px;*/ 
   solid #000;z-index:1000;
}



.actual_img
{
   width:64px;height:64px;
   border-radius:30px;
   border-color:0x00;  
}


#caseshow
{
   width:100px;
   height:100px;
   left:200px;
   top:-80px;
   position:relative;
   
 
}

#caseshow:hover
{
   color:red;
}

#designer
{
   width:100px;
   height:100px;
   left:550px;
   top:-120px;
   position:relative;
   //text-align:center;
  
}

#designer:hover
{
   color:red;
}

#service
{
  width:100px;
   height:100px;
   left:500px;
   top:100px;
   position:relative;
 //  text-align:center;
 

}

#service:hover
{
   color:red;
}

#hr
{
  width:100px;
   height:100px;
    left:750px;
   top:-150px;
   position:relative;
   text-align:center;


}

#hr:hover
{
   color:red;
}
#line1
{
    width:320px;
    height:0px;
    top:-240px;
    left:0px;
    position:relative;
    transform: rotate(-58deg);

    
}

#line2
{
    width:270px;
    height:0px;
    top:-390px;
    left:285px;
    position:relative;
    transform: rotate(10deg);
    
}

#line3
{
    width:225px;
    height:0px;
    top:-235px;
    left:450px;
    position:relative;
    transform: rotate(-80deg);
    
}

#line4
{
    width:200px;
    height:0px;
    top:-160px;
    left:570px;
    position:relative;
    transform: rotate(-30deg);
    
}


hr
{
	border:1px dashed;
}





