@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	
}

a{
    text-decoration:none;	
}


#div_top
{
	background-color:#aaaaaa;
   color:white;
   height:80px;
   width:100%;
  vertical-align:middle;
  padding-top:10px;
  position:fixed;
}

#logo_img
{
   float:left;
   margin-left:20px;
   margin-right:5px;
   padding-top:7px;
   width:60px;
   height:50px;
   //background-color:white;
}

#logo_img_bottom
{
   float:left;
   margin-left:20px;
   margin-right:5px;
   padding-top:7px;
   width:60px;
   height:50px;
}

.logo_svg
{
   //padding-left:20px;
  // float:left;
   width:100%;
   height:100%;
}

.logo_text
{
   padding-top:10px;
   float:left;
   font-size:20px;
   font-weight:bold;
}

#navigator
{
   float:right;
}

#navigator a
{
  float:left;
  font-size:25px;
  padding-top:20px;
  padding-right:20px;
}

#navigator a
{
   color:#dcdcdc;
}

#navigator a:hover
{
   color:white;
}

#flash_area
{
   width:100%;
   height:600px;
   padding-top:90px;
   //background-color:blue;
   // background:url("../pictures/keting10.jpg");
}

#inFlashArea
{
	width:100%;
	height:100%;
        //background-color:blue;
}

#contactus_area
{
   width:74%;
   height:400px;
   padding-left:13%;
   padding-right:13%;
   //background-color:red; 
   word-wrap:auto;
   padding-top:20px;
   color:#696969;
   text-align:center;
}

#au_title
{
   // color:#dcdcdc;
   font-size:25px;
   text-align:center;
}

.en
{
        font-size:40px;
	font-weight:bold;
}


.context
{
	line-height:200%;
	padding-top:20px;
	
}

#view_more_au
{
	padding-top:30px;
    float:right;
    padding-right:50px;
}
.symbol_vm
{
	font-weight:900;
	font-size:20px;
}


#team_introduce
{
    height:700px;
    width:100%;
   // background-color:green;
    width:74%;
  // height:400px;
   padding-left:13%;
   padding-right:13%;
   //background-color:blue; 
   word-wrap:auto;
   padding-top:20px;
   color:#696969;
   text-align:center;
}
#div_buttom
{
   background-color:#666666;
   color:white;
  // height:90px;
  // width:100%;
   vertical-align:middle;
   padding-top:10px;
   height:100px;
}



#bottom_middle
{
    width:74%;
    padding-left:13%;
    padding-right:13%;
}

#context_bottom
{
   float:right;
   //text-align:center;
}

#team_title
{
   font-size:25px;
   text-align:center;
}

#team_context
{
   line-height:150%;
   padding-top:20px;
   font-weight:bold;
   font-size:25px;
}
#en_team
{
   font-size:25px;
}
#ch_team
{
	font-size:20px;
	font-weight:normal;
}

#img_team
{
   margin-top:30px;
   width:810px;
   height:360px;
   overflow:hidden;
   //background:url("../pictures/teamPhoto.jpg");
}

#long_div
{
	width:3240px;
	height:360px;
}

#div_pics1
{
   float:left;
}

#div_pics2
{ 
   float:left;
}

.desiner
{
	width:270px;
	height:360px;
	overflow:hidden;
	float:left;
	
}
#view_more_team
{
	padding-top:30px;
    float:right;
    padding-right:50px;
}

#caseshow_area
{
    height:400px;
    width:100%;
   // background-color:green;
    width:74%;
  // height:400px;
   padding-left:13%;
   padding-right:13%;
   //background-color:blue; 
   word-wrap:auto;
   padding-top:10px;
   color:#696969;
   text-align:center;
}
#caseshow_title
{
   font-size:25px;
   text-align:center;
   padding-bottom:30px;
}


.img_show
{
   //width:200px;
  // height:180px; 
}

.svg_show
{
   width:200px;
   height:180px;
 //  background:url("../pictures/img1.jpg");
}
#svg_case1
{
	background:url("../pictures/img1.jpg");
}

#svg_case2
{
	background:url("../pictures/img2.jpg");
}

#svg_case3
{
	background:url("../pictures/img3.jpg");
}


.filter_rect:hover
{
   fill-opacity:0.5;
}

.filter_rect
{
   fill-opacity:0;
}


.svg_show text{

	visibility:hidden;
}



.link_show
{
   float:left;
}

#svg_case_more
{
   width:200px;
   height:180px;
}

#case_context
{
   line-height:150%;
   //padding-top:10px;
   font-weight:bold;
   font-size:15px;
   padding-bottom:20px;
}

#en_case
{
   font-size:15px;
}
#ch_case
{
	font-size:15px;
	font-weight:normal;
}
#copyright
{
    width:100%;	
   // background-color:red;
    text-align:center;
    float:left;
    padding-top:10px;
}


.container {
	width:100%;
	//margin:40px auto
	height:100%;
}

.img_show
{
    position:absolute;
    width:100%;
    height:600px;
}

#img1
{
  z-index:-1;
}
#img2
{
   z-index:-2;
}
#img3
{
   z-index:-3;
}
#img4
{
   z-index:-4;
}


